/*Normalizar navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Courier New', Courier, monospace;
    height: 100vh ;
    width: 100vw;
    display: flex;
    /* Utilizar estas unidades unicamente en el body*/
}

main{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 239, 239);

}

aside{
    width: 60% ;
    height: 100%;
    background-color: rgb(13, 187, 178);
    
    
    
}

.perfil{
    width: 100%;
    padding: 2rem;
    background-color: #46f772;
    text-align: center;
    height: 30%;
}

.datos{
    padding: 2rem;
    background-color: #466ff7;
    text-align: left;

}
img{
    align-items: center;
    background-color: black;
    border: 3px solid;
    height: 130px;
    border-radius: 70%;
    }

.contacto{
    padding: 2rem;
    background-color: #46dcf7;
    text-align: left;

}
.aptitudes{
    padding: 2rem;
    background-color: #46f7f7;
    text-align: left;

}
.estudios{

    padding: 2rem;
    background-color: #20deff;
    text-align: left;
}


    
