.portafolio{
    padding: 2rem;
    background-color: #46dcf7;
    text-align: left;
}

.tarjeta{
    padding: 2rem;
    background-color: #d8c245;
    text-align: left;
    border: solid ;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.contenido{
    display: flex;
    justify-content: flex-start;
    flex-direction: row
}